/*---menu principal---*/
#menu-ppal{
    background-color:lightblue;
}
#navbarNav a{
    color: black;
    font-style: initial;
    font-size: 20px;
}
#logo-menu{
    width: 100%;
    max-width: 350px;
}
#cont-menu{
    /*lograr un cuadro transparente que deje ver bien el menu*/
    background-color: rgba(255, 255, 255, 0.2);
    height: 180px;
}
/*---body---*/
#carouselExampleFade img{
    max-height: 800px;
    max-width: 100%;
}
#foto-art{
    max-width: 500px;
    float: left;
    margin: 10px;
}
body{
    background-image: url('/fondo-nubes.jpg');
}
article{
    background-color: rgba(255, 255, 255, 0.7);
}
.textoQS{
    margin: 20px;
}
#fondo-banner{
    width: 100%;
}
.img-galeria{
    display: inline-flex;
    max-width: 49%;
    margin: 5px;
}
/*---actividades---*/
#art-activ{
    background-color: rgba(89, 247, 168, 0.5);
    padding-top: 20px;
}
#subt{
    font-size: 30px;
}
#slide-med{
    width: 70%;
}

/*---formulario de contacto---*/
form label{
    font-weight: bold;
    font-size: 20px;
}
form input{
    border-radius: 8px;
}
#nombre{
    max-width: 100%;
}
#mail{
    max-width: 100%;
}
#texto{
    max-width: 100%;
    min-height: 150px;
    max-height: 550px;
}
#cont-contacto{
    background-color: rgba(252, 222, 140, 0.548);
}

/*---footer---*/
footer{
    background-color:lightblue;
}
.div-footer{
    display: inline-flex;
}
.vertical{
    display: inline-flex;
    width: 1px;
    background-color: black;
    height: 100%;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }